## [Start] Setting "points" to default value of "0". **
$util.qr($context.args.input.put("points", $util.defaultIfNull($ctx.args.input.points, 0)))
## [End] Setting "points" to default value of "0". **
## [Start] Setting "jinglebells" to default value of "0". **
$util.qr($context.args.input.put("jinglebells", $util.defaultIfNull($ctx.args.input.jinglebells, 0)))
## [End] Setting "jinglebells" to default value of "0". **
{}